{% extends 'base.html' %}
<!-- Title -->
{% block title %}
Category
{% endblock %}
<!-- All Posts -->
{% block page_content %}
<!-- Count Posts -->
<p>
    <code class="fs-4">
        <b>{{ count }}</b>
    </code>
    &nbsp; results for &nbsp;
    <q class="fs-4">
        <code>{{ tag|title }}</code>
    </q>
</p>
<!-- End Count Posts -->
<hr>
{% if posts %}
    {% for post in posts %}
<div class="card mb-3">
    <div class="card-header">
        <h1>
            <a class="text-decoration-none text-primary-emphasis" href="{% url 'blog_detail' post.pk %}">{{ post.title|truncatewords:4 }}</a>
        </h1>
    </div>
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <small>
                <i class="fa-solid fa-clock-rotate-left"></i>
                &nbsp;
                {{post.created_on.date}} &nbsp;|&nbsp;
                <i class="fa-solid fa-tags"></i>
                &nbsp;
                {% for category in post.category.all %}
                <a class="btn btn-secondary" style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" href="{% url 'blog_category' category.title %}">
                    <b># {{ category.title }}</b>
                </a>
                &nbsp;
                {% endfor %}
            </small>
            <p>{{ post.body|truncatewords:50|safe}}</p>
            <footer class="blockquote-footer">
                Someone famous in
                <cite title="Source Title">Source Title</cite>
            </footer>
        </blockquote>
    </div>
</div>
{% endfor %}

{% else %}
<div class="alert alert-primary" role="alert">
    There is no information
</div>
{% endif %}
{% endblock page_content %}
<!-- categories -->
{% block all_categorys %}
{% if categories %}
<div class="card border-secondary-emphasis mb-3 sticky-top" style="max-width: 24rem; top:105px">
    <div class="card-header">
        <div class="text-primary-emphasis fs-3">All Post Categories</div>
    </div>
    <div class="card-body text-secondary">
        <!-- All Categories -->
        {% for category in categories %}
        <a class="text-decoration-none btn btn-secondary small ml-1 mb-2" style="--bs-btn-padding-y: .10rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;" href="{% url 'blog_category' category.title %}">
            <span class="">#{{ category.title }}</span>
        </a>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="alert alert-warning" role="alert">
    There is no information
</div>
{% endif %}
{% endblock all_categorys %}
